.column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.main>* {
	margin: 0px 10px 0px 0px;
}

.buttons>* {
	margin: 0px 0px 5px 0px;
}

.noMouseEvents {
	pointer-events: none;
	user-select: none;
}